.logo-image {
    position: relative;
    width: 50%;
}

.logo-image__image {
    display: block;
    width: 100%;
}

.logo-image__overlay {
    position: absolute;
    z-index: 1;
    height: 100%;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Black see-through */
    width: 100%;
}
